body {
    margin: 0;
    padding: 0;
}

.title {

    color: green;
    text-align: center;
}

.parent {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.details-btn {
    text-decoration: none;
    color: black;
    padding: 15px 40px;
    border: none;
    background-image: linear-gradient(150deg, #006A4E, #F42A41, #006A4E);
    font-size: 20px;
    border-radius: 10px;

}

.details-btn:hover {
    color: white;
    cursor: pointer;
}

.photo img {
    width: 500px;
}

.second-section {
    text-align: center;

}

.all-division {
    display: flex;
    flex-wrap: wrap;
}

.division-name {
    width: 350px;
    border: 2px solid green;
    margin: 2% 5%;
    box-shadow: 4px 4px 15px red;
    border-radius: 10px;
}

.image img {
    width: 100%;
    border-radius: 8px;
}

.division-details {
    padding: 0px 10px 20px 10px;
}

.card-btn {
    text-decoration: none;
    color: black;
    padding: 8px 20px;
    border: none;
    background-image: linear-gradient(150deg, #006A4E, #F42A41, #006A4E);
    font-size: 15px;
    border-radius: 5px;
}

.card-btn:hover {
    color: white;
    cursor: pointer;
}